grant codeBase "file:/Users/Eddy/Desktop/DistributedAlgorithms/Assignment_2/election/target/classes/-" {
    permission java.security.AllPermission;
};